body {
  background: url('../img/pizaa.jpg');
  background-size: cover;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'MuseoModerno', cursive;

}
/*#work-responses {
  display: none;
}

